build/
*.o
*.a
common/lex.yy.c
common/newick.c
common/y.tab.c
common/y.tab.h

doc/*.aux
doc/*.dvi
doc/*.log
doc/*.pdf
doc/*.ps
doc/midRoot.bbl
doc/midRoot.blg
doc/midRoot.toc
doc/date.tex
doc/version.tex

src/midRoot
